BOT_TOKEN=токен_бота
ADMIN_TELEGRAM_ID=айди_главного_админа
NOTIFICATION_CHAT_ID=айди_чата_уведомлений 
NOTIFICATION_TOPIC_ID=айди_топика_уведомлений
BASE_URL=базовая_ссылка_на_сайт_тп_вида_https://example.com